@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  height: 100%;
}

.nav-element {
  position: relative;
}

.nav-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(73, 175, 230, 0.623);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.nav-element:hover::before,
.nav-element--active:active::before {
  transform: scaleY(1);
  width: 100%;
}
.nav-element:active::before {
  background-color: rgba(152, 86, 213, 0.566);
}

/*
 &:not(:last-child) {
      margin-bottom: .5rem;
*/
